<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '사업자등록증 (공통 첨부파일)'}) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('commonAttachmentModal')"
                >
                  <span class="text">사업자등록증 (공통 첨부파일)</span>
                </button>

                <!-- prettier-ignore -->

                <% const commonAttachmentModal = { 
                  id: 'commonAttachmentModal', 
                  title: '첨부파일', 
                  contentPath: `${_src}/views/pages/kendo-window/my-orders/kw-PC_MY_02020601-attachment.ejs`,
                  imageSrc: `${_public}/resources/img/mro/renewal/temp/temp-a4-file.png`,
                  buttons: [{ text: '확인', variant: 'secondary', action: 'close' }] 
                  }; 
                %> 
                <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, commonAttachmentModal) %>
              </div>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
