<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '로그인 팝업'}) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('loginModal')"
                >
                  <span class="text">로그인 팝업</span>
                </button>
              </div>

              <!-- prettier-ignore -->
              <% const winModal = { 
                id: 'loginModal', 
                size: '520', 
                opt: { draggable: true }, 
                contentPath: `${_src}/views/pages/kendo-window/auth/kw-PC_LO_01010101_P.ejs`}; 
                %>
                           
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal) %>
              <!-- 일회성 로그인 kw-PC_LO_06010101_P.ejs -->
              <template id="loginModalTemplate-once">
                <%- include(`${_src}/views/pages/kendo-window/auth/kw-PC_LO_06010101_P.ejs`, { size: undefined }) %>
              </template>
              <!-- 인증코드 입력 kw-PC_LO_06030101_P.ejs -->
              <template id="loginModalTemplate-code">
                <%- include(`${_src}/views/pages/kendo-window/auth/kw-PC_LO_06030101_P.ejs`, { size: undefined }) %>
              </template>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>

    <script>
      // [REMOVE] 퍼블 확인용 임시 코드 - 개발 적용 시 제거
      const urlParams = new URLSearchParams(window.location.search);
      const type = urlParams.get('type');

      // type 파라미터가 'code'이거나 'once' 일때 팝업 바뀜
      if (type === 'code' || type === 'once') {
        const template = document.getElementById(`loginModalTemplate-${type}`);
        const content = document.querySelector('#loginModal .vits-modal-content');
        if (template && content) {
          content.innerHTML = template.innerHTML;
        }
      }
    </script>
  </body>
</html>
