<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, { meta_title: 'ISVM 전환 안내' }) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('isvmConvertModal')"
                >
                  <span class="text">ISVM 전환 안내 팝업</span>
                </button>
              </div>

              <!-- prettier-ignore -->
              <% const winModal = {
                id: 'isvmConvertModal',
                size: '560',
                title: 'ISVM 전환 안내',
                opt: { draggable: true },
                contentPath: `${_src}/views/pages/kendo-window/auth/kw-PC_MY_05010205_P.ejs`,
                buttons: [
                  { text: '취소', type: 'button', variant: 'secondary', action: 'close' },
                  { text: '전환 신청하기', type: 'button', variant: 'primary', action: 'close' }
                ],
              }; %>
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal) %>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
