<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<% const _memberYn = (typeof memberYn !== 'undefined') ? memberYn : 'Y'; %>
<!-- prettier-ignore -->

<section 
  class="vm-home-recommend product-<%= type %>"
  data-scroll-overflow-gradient
  data-scroll-target="[data-ui='recommend-<%= type %>']"
>
  <div class="recommend-head">
    <h2 class="recommend-head-title"><%- title %></h2>
    <% if (typeof href !== 'undefined' && href) { %>
    <a href="<%= href %>" class="recommend-head-more">
      <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-right' }) %>
    </a>
    <% } %>
  </div>
  <ul class="recommend-list" data-ui="recommend-<%= type %>">
    <% products.forEach(function(item) { %>
      <%- include(`${_src}/views/components-mo/product/product-item.ejs`, { 
        item: item,
        cardContext: type === 'frequent' ? 'frequent' : 'default',
        memberYn: _memberYn
      }) %>
    <% }); %>
  </ul>
</section>
