<% const _src = srcPath; const _public = publicPath; %>
<section class="vits-payment">
  <!-- 결제정보 -->
  <div class="vits-payment-summary">
    <h2 class="vits-payment-title">결제정보</h2>

    <div class="vits-payment-price">
      <ul class="vits-payment-price-list">
        <li>
          <span>상품금액</span>
          <strong>418,000원</strong>
        </li>
        <li class="is-discount">
          <span>할인금액</span>
          <strong>-83,500원</strong>
        </li>
      </ul>
    </div>

    <div class="vits-payment-price">
      <ul class="vits-payment-price-sub">
        <li><span>최대혜택가</span><span>33,450원</span></li>
        <li><span>VAT</span><span>418,000원</span></li>
        <li><span>배송비</span><span>3,000원</span></li>
      </ul>
    </div>

    <div class="vits-payment-total">
      <span>결제예정금액</span>
      <strong class="is-emphasis">370,950원</strong>
    </div>

    <p class="vits-payment-notice">도착지에서 착불 운임이 청구됩니다.</p>

    <div class="vits-payment-agree">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-checkbox-single.ejs`, {
        datas: [
          {
            className: 's',
            name: 'payment-agree',
            value: 'payment-agree',
            srText: '동의 체크란',
            agreeText: '주문할 상품의 상품명, 상품가격, 배송정보를 확인하였으며, 구매에 동의하시겠습니까? (전자상거래법 제8조 2항)',
          }
        ],
      }) %>
    </div>
  </div>

  <!-- 결제수단 선택 -->
  <div class="vits-payment-method">
    <h2 class="vits-payment-title">결제수단 선택하기</h2>

    <!-- 간편결제 -->
    <div class="vits-payment-item">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'payment',
        id: 'pay-simple',
        value: 'simple',
        text: '간편결제 <em>비츠온페이로 간편하게 결제</em>', checked: true, ariaControls: 'panel-simple', ariaExpanded:
      'true', }) %>

      <div id="panel-simple" class="vits-payment-panel is-active" aria-labelledby="pay-simple">
        <!-- 간편결제 탭 -->
        <div class="vits-payment-tabs" role="tablist" aria-label="간편결제 수단">
          <button
            type="button"
            id="tab-simple-card"
            class="vits-payment-tab is-active"
            role="tab"
            aria-selected="true"
            aria-controls="panel-simple-card"
          >
            비츠온페이 카드
          </button>

          <button
            type="button"
            id="tab-simple-account"
            class="vits-payment-tab"
            role="tab"
            aria-selected="false"
            aria-controls="panel-simple-account"
          >
            비츠온페이 계좌
          </button>
        </div>

        <!--간편결제 탭 > 카드 -->
        <div
          id="panel-simple-card"
          class="vits-payment-tab-panel is-active"
          role="tabpanel"
          aria-labelledby="tab-simple-card"
        >
          <!-- 안내 메시지 -->
          <div class="vits-payment-notice">
            <p class="notice-text">신용카드 결제시 <strong>세금계산서 발급 불가</strong> 합니다.</p>
            <div class="pay-manage">
              <a class="vits-text-link" href="!#"
                >비츠온페이 관리하기
                <!-- prettier-ignore -->
                <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-right' }) %>
              </a>
            </div>
          </div>
          <!-- 카드 스와이퍼 -->
          <div class="vits-card-list swiper-container js-swiper" data-swiper-type="payment" data-desktop="2.5">
            <div class="swiper-wrapper">
              <!-- prettier-ignore -->
              <% const cards = [ 
                { image: '' , color: '#4a6bc2' },
                { image: '' , color: '#4a6bc2' },
                { image: '' , color: '#4a6bc2' },
                { image: '' , color: '#4a6bc2' },
                { image: '' , color: '#4a6bc2' },
              ]; %>
              <% cards.forEach((card, index) => { %>
              <div
                class="swiper-slide vits-card-item<%= index === 0 ? ' is-selected' : '' %>"
                style="background-image: url('<%= card.image %>'); background-color: <%= card.color %>"
              ></div>
              <% }); %>
            </div>
            <div class="vits-swiper-navs">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>

          <div class="vits-card-form">
            <div class="vits-form-row">
              <div class="vits-form-item">
                <span class="vits-form-label">카드번호 <span class="vits-default-badge">대표</span></span>
                <span class="vits-form-value">신한카드(3318)</span>
                <span class="vits-form-number">3318 **** **** ****</span>
              </div>

              <div class="vits-form-item">
                <span class="vits-form-label">카드별칭</span>
                <span class="vits-form-value">김비츠 신한</span>
              </div>
            </div>

            <div class="vits-form-item">
              <span class="vits-form-label">할부선택:</span>
              <div class="vits-form-select">
                <!-- prettier-ignore -->
                <%- include(`${_src}/views/components/form/select.ejs`, {
                  id: 'pay-installment',
                  name: 'payInstallment',
                  placeholder: '할부선택',
                  options: [
                    { value: '일시불', text: '일시불' },
                    { value: '할부', text: '할부' },
                    { value: '할부', text: '할부' },
                  ],
                  value: (typeof sort !== 'undefined' && sort !== null) ? String(sort) : '일시불', disabled: false
                }) %>
              </div>
            </div>
          </div>
        </div>

        <!--간편결제 탭 > 계좌 -->
        <div
          id="panel-simple-account"
          class="vits-payment-tab-panel"
          role="tabpanel"
          aria-labelledby="tab-simple-account"
        >
          <!-- 안내 메시지 -->
          <div class="vits-payment-notice">
            <div class="pay-manage">
              <a class="vits-text-link" href="!#"
                >비츠온페이 관리하기
                <!-- prettier-ignore -->
                <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-right' }) %>
              </a>
            </div>
          </div>

          <!-- prettier-ignore -->
          <%- include(`${_src}/views/components/button/button-vertical-icon.ejs`, {
            icon: 'plus',
            label: '계좌 등록하기',
            variant: 'account-empty',
            href: '#'
          }) %>

          <!-- 등록된계좌 -->
          <div class="vits-card-form type-account">
            <div class="vits-form-row">
              <div class="vits-form-item">
                <span class="vits-form-label">카드번호 <span class="vits-default-badge">대표</span></span>
                <span class="vits-form-value">신한카드(3318)</span>
                <span class="vits-form-number">3318 **** **** ****</span>
              </div>

              <div class="vits-form-item">
                <span class="vits-form-label">카드별칭</span>
                <span class="vits-form-value">김비츠 신한</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 카드결제 -->
    <div class="vits-payment-item">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'payment',
        id: 'pay-card',
        value: 'card',
        text: '카드결제 <em>신용/체크카드</em>', checked: false, ariaControls: 'panel-card', ariaExpanded: 'false', })
      %>

      <div id="panel-card" class="vits-payment-panel" aria-labelledby="pay-card">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/alerts/alerts-order.ejs`, {
          type: 'b-warning',
          text: '신용카드 결제가 가능합니다.',
          importantItems: [
            {
              text: '신용카드 결제시 ',
              strong: '세금계산서 발급 불가',
              after: ' 합니다.'
            }
          ]
        }) %>
      </div>
    </div>

    <!-- 실시간 계좌이체 -->
    <div class="vits-payment-item">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'payment',
        id: 'pay-transfer',
        value: 'transfer',
        text: '실시간계좌이체 <em>계좌에서 바로 이체</em>', checked: false, ariaControls: 'panel-transfer',
      ariaExpanded: 'true', }) %>

      <div id="panel-transfer" class="vits-payment-panel" aria-labelledby="pay-transfer">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/alerts/alerts-order.ejs`, {
          type: 'b-warning',
          importantItems: [
            {text: '이체 수수료 무료'},
            {text: '23시 이후 은행별 제한 가능'},
            {text: '1일 이체 한도 200만원'}
          ]
        }) %>
      </div>
    </div>

    <!-- 무통장입금 -->
    <div class="vits-payment-item">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'payment',
        id: 'pay-bank',
        value: 'bank',
        text: '무통장입금 <em>비츠온 계좌로 입금</em>', checked: false, ariaControls: 'panel-bank', ariaExpanded:
      'false', }) %>

      <div id="panel-bank" class="vits-payment-panel" aria-labelledby="pay-bank">
        <!-- 안내 메시지 -->
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/alerts/alerts-order.ejs`, {
          type: 'b-warning',
          importantItems: [
            {text: '주문 후 영업일 5일 내에 입금 확인이 되지 않으면 주문이 자동 취소됩니다.'},
            {text: '입금 확인 상태에서는 부분 취소 불가능합니다.'},
            {text: '주문자명과 입금자명이 다르더라도 정확한 금액 입금시 입금 확인 정상 처리됩니다.'}
          ]
        }) %>

        <div class="vits-payment-bank">
          <dl class="vits-payment-bank-list">
            <div class="vits-payment-bank-item">
              <dt>입금 계좌</dt>
              <dd>국민 288965-04-531311</dd>
            </div>
            <div class="vits-payment-bank-item">
              <dt>예금주명</dt>
              <dd>주식회사 일신비츠온</dd>
            </div>
          </dl>

          <div class="vits-payment-bank-input">
            <label class="vits-form-label" for="pay-bank-depositor">입금자명</label>
            <div class="vits-form-field">
              <!-- prettier-ignore -->
              <%- include(`${_src}/views/components/form/input-text.ejs`, {
                id: 'pay-bank-depositor',
                name: 'bankDepositor',
                label: '입금자명',
                placeholder: '입금자명을 입력하세요',
                rootClass: 'size-medium'
              }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 여신결제 -->
    <div class="vits-payment-item">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'payment',
        id: 'pay-credit',
        value: 'credit',
        text: '여신결제 <em>외상 거래 후 정산</em>', checked: false, ariaControls: 'panel-credit', ariaExpanded:
      'false', }) %>

      <div id="panel-credit" class="vits-payment-panel" aria-labelledby="pay-credit">
        <div class="info-text">후불 고객이 정해진 여신 한도 내에서 결제하시는 방법입니다.</div>
      </div>
    </div>
    <!-- e.  -->
  </div>

  <!-- 세금계산서 발급 -->
  <div class="vits-tax">
    <h2 class="vits-tax-title">세금계산서 발급 신청</h2>

    <div class="vits-tax-options">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'tax-invoice',
        id: 'tax-invoice-single',
        value: 'single',
        text: '개별 발급',
        checked: true,
      }) %>
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'tax-invoice',
        id: 'tax-invoice-batch',
        value: 'batch',
        text: '일괄 발급',
        checked: false,
      }) %>
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'tax-invoice',
        id: 'tax-invoice-none',
        value: 'none',
        text: '발급 안함',
        checked: false,
      }) %>
    </div>
  </div>
</section>
