<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
  const _folderName = typeof folderName !== 'undefined' ? folderName : '';
  const _owner = typeof owner !== 'undefined' ? owner : '';
  const _itemCount = typeof itemCount !== 'undefined' ? itemCount : '';
  const _date = typeof date !== 'undefined' ? date : '';
%>

<label class="vm-ckbox-folder">
  <input type="checkbox" name="likeFolder" value="<%= _folderName %>" class="sr-only" data-checkbox-item />
  <span class="ckbox-folder-icon"></span>

  <span class="ckbox-folder-body">
    <span class="ckbox-folder-title">
      <span class="ckbox-folder-name"><%= _folderName %></span>
      <span class="ckbox-folder-desc"><%= _owner %></span>
    </span>

    <span class="ckbox-folder-meta">
      <span class="ckbox-folder-ea"><%= _itemCount %>개</span>
      <span class="ckbox-folder-date"><%= _date %></span>
    </span>
  </span>
</label>
