<%
  const _tag = (typeof tag !== 'undefined' && tag) ? tag : 'button';
  const _text = (typeof text !== 'undefined' && text) ? text : '';
  const _href = (typeof href !== 'undefined' && href) ? href : '#!';
  const _fs = (typeof fs !== 'undefined' && fs) ? `fs-${fs}` : '';
  const _height = (typeof height !== 'undefined' && height) ? `height-${height}` : '';
  const _fc = (typeof fc !== 'undefined' && fc) ? `fc-${fc}` : '';
  const _offset = (typeof offset !== 'undefined' && offset) ? `offset-${offset}` : '';
  const _className = (typeof className !== 'undefined' && className) ? className : '';
  const _attrs = typeof attrs !== 'undefined' ? attrs : '';

  var _attrsArray = [];
  if (_attrs) {
    var regex = /(\w+(?:-\w+)*)(?:="([^"]*)")?/g;
    var match;
    while ((match = regex.exec(_attrs)) !== null) {
      var key = match[1];
      var value = match[2];
      if (value !== undefined) {
        _attrsArray.push({ key: key, value: value });
      } else {
        _attrsArray.push({ key: key, value: null });
      }
    }
  }

  const classList = [
    'vits-text-underline-button',
    _fs,
    _height,
    _fc,
    _offset,
    _className
  ].filter(Boolean).join(' ');
%>

<% if (_tag === 'a') { %>
<a class="<%= classList %>" href="<%= _href %>"
  <% if (locals.onclick) { %>onclick="<%= onclick %>"<% } %>
  <% _attrsArray.forEach(function(attr) { if (attr.value === null) { %><%= attr.key %><% } else { %><%= attr.key %>="<%= attr.value %>"<% } }); %>><%= _text %></a>
<% } else { %>
<button class="<%= classList %>" type="button"
  <% if (locals.onclick) { %>onclick="<%= onclick %>"<% } %>
  <% _attrsArray.forEach(function(attr) { if (attr.value === null) { %><%= attr.key %><% } else { %><%= attr.key %>="<%= attr.value %>"<% } }); %>><%= _text %></button>
<% } %>