<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '(전체옵션)다른 규격찾기'}) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('findOtherOptionModal')"
                >
                  <span class="text">(전체옵션)다른 규격찾기</span>                            
                </button>
              </div>

              <!-- prettier-ignore -->
              <% const winModal = { 
                id: 'findOtherOptionModal', 
                size: '512', 
                title: '다른규격 선택', 
                opt: { 
                  draggable: false ,
                  animation: false,
                  position: { top: 0, right: 0, left: 'auto' }
                }, 
                contentPath: `${_src}/views/pages/kendo-window/product/kw-PC_PR_01020101_P.ejs`,
                }; %>
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal) %>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
