<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<!-- 
  [D] vits-scope: 스크롤바 커스텀 범위 제한(운영 전역 scrollbar 충돌 방지)
    - 문서 스크롤 주체가 html/body로 달라질 수 있어 둘 다 클래스 적용 
  -->
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '상품상세 PC_PR_01010101'}) %>
  <!-- [D] vits-scope 적용(상단 주석 참고) -->
  <body class="vits-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vits-wrapper -->
    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <!-- S: vits-main -->
      <main id="skipNav" class="vits-main">
        <!-- S: vits-wrap -->
        <div class="vits-wrap">
          <!-- S: vits-grid -->
          <div class="vits-grid">
            <!-- S: vits-grid-side-left -->
            <!-- <aside class="vits-grid-side vits-grid-side-left"></aside> -->
            <!-- E: vits-grid-side-left -->

            <!-- S: vits-grid-main -->
            <div class="vits-grid-main vits-wrapper-product">
              <!-- 메인 컨텐츠 -->
              <!-- s: PC_PR_01010101 -->
              <div class="vits-breadscrumb">
                <div class="vits-breadscrumb-inner">
                  <div class="vits-breadscrumb-item">
                    <a href="#" class="vits-breadscrumb-link">
                      <span class="vits-breadscrumb-text">Home</span>
                    </a>
                  </div>
                  <div class="vits-breadscrumb-item">
                    <span class="vits-breadscrumb-text">Product</span>
                  </div>
                </div>
                <div class="vits-product-code">
                  <span class="text">상품코드: 1234567890</span>
                  <span class="icon"><%- include(`${_src}/views/components/icon.ejs`, { iconName: 'copy' }) %></span>
                </div>
              </div>
              <div class="vits-product-detail-container" data-toggle-scope data-toggle-group="true">
                <div class="vits-deal-view">
                  <%- include(`${_src}/views/components/pg-product/swiper-gallery.ejs`) %>
                  <div class="vits-deal-info">
                    <div class="vits-deal-info-inner">
                      <div class="product-brand-name">
                        <span class="text">비츠온</span>
                        <span class="icon"
                          ><%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-right' }) %></span
                        >
                      </div>
                      <div class="product-name-info">
                        <!-- 상위분류명 +상품 이름 + 좋아요 + 라벨 -->
                        <ul class="info-inner">
                          <li>
                            <div class="product-name">
                              팬던트 LED 팬던트 LED 팬던트 LED 제품명이 1줄일 경우 2줄일 경우 아래로 늘어남
                            </div>
                            <div class="vits-product-chips">
                              <!-- prettier-ignore -->
                              <%
                                const productChips = [
                                  { text: '오늘출발', icon: 'ic-lightning' },
                                  { text: '내일출발', icon: null },
                                  { text: '롯데택배불가', icon: null }
                                ];
                              %>
                              <% productChips.forEach(label => { %>
                              <button type="button" class="vits-label-chip<%= label.icon ? ' icon' : '' %>">
                                <% if (label.icon) { %><i class="ic <%= label.icon %>"></i><% } %><%= label.text %>
                              </button>
                              <% }); %>
                            </div>
                          </li>
                          <li>
                            <label for="like" class="vits-btn like-btn icon">
                              <!-- 임시 -->
                              <input type="checkbox" name="like" id="like" aria-label="좋아요버튼" />
                              <span class="icon"
                                ><%- include(`${_src}/views/components/icon.ejs`, { iconName: 'heart' }) %></span
                              >
                            </label>
                          </li>
                        </ul>
                      </div>
                      <div class="product-price-info">
                        <ul class="info-inner">
                          <li>
                            <div class="original">
                              <p><span>32,000</span><span class="won">원</span></p>
                            </div>
                            <div class="discount">
                              <p class="discount-rate"><span>48</span><span class="per">%</span></p>
                              <p class="discount-price"><span>39,400</span><span class="won">원</span></p>
                            </div>

                            <div class="delivery-benefit">
                              <span class="icon"
                                ><%- include(`${_src}/views/components/icon.ejs`, { iconName: 'speed-truck' }) %></span
                              ><span class="unit">1</span><span class="text">개만 사도 무료배송</span>
                            </div>
                          </li>
                          <li>
                            <div class="discount-coupon">
                              <!-- prettier-ignore -->
                              <%- include(`${_src}/views/components/button/button.ejs`, {
                                size:'lg', 
                                variant: 'outline-primary', 
                                text:'할인쿠폰받기', 
                                iconLeft: true, 
                                //disabled: true, class: 'disabled'
                                iconName: 'ic-line-download',
                                attrs: 'data-toggle-btn aria-expanded="false" data-toggle-target="get-coupon-modal" '
                              }) %>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="product-minidetail">
                        <!-- prettier-ignore -->
                        <%
                          const productMiniDetailInfo = [
                            { label: '과세구분:', value: '과세' },
                            { label: '출고단위:', value: '개' },
                            { label: '모델명:', value: 'DL30040 36W 화이트 주백 KS DL30040 모델명이 2줄일 경우 예시' },
                            { label: '중량(kg):', value: '1kg' }
                          ];
                        %>
                        <ul class="info-inner">
                          <% productMiniDetailInfo.forEach(item => { %>
                          <li>
                            <span class="label"><%= item.label %></span><span class="value"><%= item.value %></span>
                          </li>
                          <% }); %>
                        </ul>
                      </div>
                      <!-- case 01 : 수량선택 (낱개 + 대포장) -->
                      <div class="product-select-quick">
                        <ul class="info-inner">
                          <li>
                            <h3 class="title">수량선택</h3>

                            <!-- prettier-ignore -->
                            <%- include(`${_src}/views/components/form/input-radio.ejs`, {
                              variant: 'option-list',
                              name: 'rdo2',
                              list: 'column',
                              gap: 18,
                              datas: [
                                {
                                  text: '낱개',
                                  value: '1',
                                  qty: 1,
                                  price: 4150,
                                  checked: false,
                                  disabled: false,
                                  required: false
                                },
                                {
                                  text: '대포장',
                                  value: '250', 
                                  qty: 250,
                                  price: 103750,
                                  checked: false,
                                  disabled: false,
                                  required: false 
                                }
                              ]
                            }) %>
                          </li>
                          <li>
                            <!-- prettier-ignore -->
                            <%- include(`${_src}/views/components/button/button.ejs`, 
                              {size:'xs', 
                              variant: 'outline-secondary', 
                              text:'단가할인', 
                              iconLeft: true, 
                              iconName: 'ic-line-graph',
                              className: 'unit-price-info'
                            }) %>
                          </li>
                        </ul>
                        <!-- css hover 영역 -->
                        <div class="unit-price-info-hover">
                          <div class="unit-price-info-inner">
                            <ul class="list-inner">
                              <li class="list-item">50개 이상 사면 <span>1,543원</span></li>
                              <li class="list-item">150개 이상 사면 <span>1,522원</span></li>
                            </ul>
                          </div>
                        </div>
                        <!-- //css hover  -->
                      </div>
                      <!-- case 02 :주문길이 입력 -->
                      <div class="product-select-unit">
                        <ul class="info-inner">
                          <li>
                            <div class="vits-input-unit">
                              <label class="input-label">
                                <span class="text">주문 길이</span>
                                <span class="input-unit">
                                  <input type="text" value="" placeholder="0" />
                                  <em>M</em>
                                </span>
                              </label>
                              <%- include(`${_src}/views/components/button/button.ejs`, { size: 'lg', variant:
                              'secondary', text: '추가', iconLeft: false, }) %>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="product-select-buttons">
                        <!-- case:01 옵션 버튼 (옵션 우측 슬라이드 팝업) -->
                        <div class="vits-btn-option">
                          <!-- prettier-ignore -->
                          <button type="button" class="vits-btn-xl vits-btn-outline-secondary right-icon" 
                            data-toggle-btn 
                            aria-expanded="false"
                            data-toggle-target="vits-options-modal" 
                            >
                            <span class="text">다른 규격 찾기 (전체 <em>84</em>개 옵션)</span>
                            <span class="icon">
                              <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-right' }) %>
                            </span>
                          </button>
                        </div>
                        <!-- case 02 : 비로그인시 - 로그인 버튼 -->
                        <div class="vits-btn-login">
                          <!-- prettier-ignore -->
                          <%- include(`${_src}/views/components/button/button.ejs`, {
                            size: 'xxl',
                            variant: 'primary',
                            text: '로그인하고 가격 확인',
                            iconLeft: true,
                            iconName: 'ic-lock-close',
                          }) %>
                        </div>
                      </div>
                      <div class="product-select-notice"></div>
                      <!-- 상품선택 결과 영역 -->
                      <div class="product-select-result">
                        <!-- prettier-ignore -->
                        <%
                          const selectedProducts = [
                            {
                              code: '1234567890',
                              name: '[일반전선] VCTF',
                              size: '1.5SQ * 3C(100M)',
                              quantity: 999,
                              quantityUnit: 'BOX',
                              unitValue: 1,
                              unitType: 'M',
                              priceLabel: '쿠폰 적용가',
                              price: 800000
                            },
                            {
                              code: '1234567890',
                              name: '[일반전선] VCTF',
                              size: '1.5SQ * 3C(100M)',
                              quantity: 999,
                              quantityUnit: 'BOX',
                              unitValue: 1,
                              unitType: 'M',
                              priceLabel: '쿠폰 적용가',
                              price: 800000
                            }
                          ];
                        %>
                        <% selectedProducts.forEach(product => { %>
                        <div class="select-result-item">
                          <div class="prd-code">상품코드: <span class="code"><%= product.code %></span></div>
                          <div class="prd-name"><%= product.name %></div>
                          <div class="prd-size"><%= product.size %></div>

                          <div class="prd-group-row">
                            <div class="prd-input-count">
                              <div class="vits-count-box">
                                <!-- prettier-ignore -->
                                <%- include(`${_src}/views/components/form/input-quantity-stepper.ejs`, {
                                  type: 'horiz',   
                                  variant: '',    
                                  name: 'quantity',   
                                  value: 999,             
                                  min: 1,              
                                  step: 1,             
                                  unit: '개',          
                                  disabled: false,      
                                  required: false       
                                }) %>

                                <!-- prettier-ignore -->
                                <%- include(`${_src}/views/components/form/input-quantity-stepper.ejs`, {
                                  type: 'vertical',
                                  variant: '',
                                  name: 'quantity2',
                                  value: 12,
                                  min: 1,
                                  step: 1,
                                  unit: 'BOX',
                                  disabled: false,
                                  required: false
                                }) %>
                              </div>
                            </div>

                            <div class="prd-single-price">
                              <span class="text"><%= product.priceLabel %></span
                              ><span class="price"><%= product.price.toLocaleString() %></span
                              ><span class="won">원</span>
                            </div>
                            <button type="button" class="vits-btn-close icon">
                              <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'x' }) %>
                            </button>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                      <div class="product-total-price">
                        <div class="price-summary">
                          <div class="price-info">
                            <p class="price-title">총 상품 금액</p>
                          </div>

                          <div class="price-result">
                            <p class="discount-info">
                              <span class="icon"
                                ><%- include(`${_src}/views/components/icon.ejs`, { iconName: 'coupon-fill' }) %></span
                              >
                              <span class="text"
                                >쿠폰 적용 시
                                <span class="price">12,400원</span>
                              </span>
                            </p>

                            <p class="total-price">
                              <span class="price-quantity"
                                >총 수량 <span class="num">3</span><span class="unit">EA</span>
                              </span>
                              <span class="price">100,980,000</span><span class="won">원</span>
                            </p>

                            <p class="price-tax">(상품금액 100,800,000원 + VAT 10,080,000원)</p>
                          </div>
                        </div>
                      </div>
                      <div class="product-order-buttons">
                        <div class="btn-buy">
                          <%- include(`${_src}/views/components/button/button.ejs`,{size:'xxl', variant: 'secondary',
                          text: '바로구매'}) %>
                        </div>
                        <div class="btn-cart">
                          <%- include(`${_src}/views/components/button/button.ejs`,{size:'xxl', variant: 'primary',
                          text: '장바구니'}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- s: section - MD가 꼼꼼히 고른 추천 상품 -->
                <div class="vits-product-recommend banner-md">
                  <div class="recommend-title">
                    <h2 class="title">MD가 꼼꼼히 고른 <span class="primary">추천 상품</span></h2>
                  </div>
                  <div class="vits-banner-swiper">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/swiper/swiper-type.ejs`, { slides: ['Slide 1', 'Slide 2', 'Slide 3',
                    'Slide 4', 'Slide 5', 'Slide 6', 'Slide 7', 'Slide 8', 'Slide 9'], swiperType: 'card', desktop: 5,
                    offsetBefore: 0, offsetAfter: 0, showNavs: true, containerClass: 'swiper-container' }) %>
                  </div>
                </div>
                <!-- e: section - MD가 꼼꼼히 고른 추천 상품 -->

                <!-- s: 상세상품보기 TAB bar 영역 -->
                <%- include(`${_src}/views/components/pg-product/tab-scrollbar.ejs`) %>

                <!-- s: Modal -->
                <%- include(`${_src}/views/components/pg-product/_PC_CO_06010101_P.ejs`) %> <%-
                include(`${_src}/views/components/pg-product/_PC_PR_01020101_P.ejs`) %>
                <!-- e: Modal -->
              </div>
              <!-- e: PC_PR_01010101 -->
            </div>
            <!-- E: vits-grid-main -->

            <!-- S: vits-grid-right -->
            <!-- <aside class="vits-grid-side vits-grid-side-right"></aside> -->
            <!-- E: vits-grid-right -->
          </div>
          <!-- E: vits-grid -->
        </div>
        <!-- E: vits-wrap -->
      </main>
      <!-- E: vits-main -->

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>
    <!-- E: vits-wrapper -->
    <%- include(`${_src}/views/layout/footer.links.ejs`) %>

    <!-- Deal Gallery  -->
  </body>
</html>
