<% const _src = srcPath; const _public = publicPath; %>

<section class="vits-address-modify">
  <!-- 배송지 등록/수정 헤더 -->
  <h2 class="sr-only">배송지 등록/수정</h2>
  
  <div class="vits-address-modify-form">
    <!-- 배송 방식 선택 -->
    <div class="vits-address-type" role="radiogroup" aria-label="배송 방식 선택">
      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'shippingType',   
        id: 'shippingType-normal',
        value: 'normal-shipping',
        text: '일반 배송 (택배/퀵)',
        checked: true,
        ariaControls: 'shipping-panel-normal',
        ariaExpanded: 'true',
      }) %>

      <%- include(`${_src}/views/components/form/input-radio-single.ejs`, {
        name: 'shippingType',   
        id: 'shippingType-freight',
        value: 'freight-shipping',
        text: '화물 배송 (지점 수령)',
        checked: false,
        ariaControls: 'shipping-panel-freight',
        ariaExpanded: 'false',
      }) %>
    </div>
  
    <!-- 일반 배송지 입력 -->
    <div class="vits-address-fields is-active" id="shipping-panel-normal" data-address-panel="normal-shipping" role="region" aria-hidden="false">
      <div class="vits-field">
        <label class="vits-field-label">
          배송지명 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'address-name',
          name: 'addressName',
          label: '배송지명',
          placeholder: '예: 집, 회사',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>
  
      <div class="vits-field">
        <label class="vits-field-label">
          받는 사람 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'receiver-name',
          name: 'receiverName',
          label: '받는 사람',
          placeholder: '이름을 입력해주세요',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>
  
      <div class="vits-field">
        <label class="vits-field-label">
          휴대전화 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'receiver-phone',
          name: 'receiverPhone',
          label: '휴대전화',
          placeholder: '010-0000-0000',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>
  
      <!-- 주소 -->
      <div class="vits-field vits-address">
        <label class="vits-field-label">
          주소 <span class="vits-required">*</span>
        </label>

        <div class="vits-address-input">
          <div class="vits-address-zipcode">
            <!-- prettier-ignore -->
            <%- include(`${_src}/views/components/form/input-text.ejs`, {
              id: 'receiver-phone',
              name: 'zipcode',
              label: '우편번호',
              placeholder: '우편번호',
              readonly: true,
              required: true,
              rootClass: 'size-medium'
            }) %>
  
            <!-- prettier-ignore -->
            <%- include(`${_src}/views/components/button/button.ejs`, {
              size: 'md',
              variant: 'scoped-info',
              text: '주소 검색',
              iconLeft: true,
              iconName: 'ic-magnifying-glass',
            }) %>
          </div>
  
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/components/form/input-text.ejs`, {
            id: 'receiver-address',
            name: 'receiverAddress',
            label: '주소',
            placeholder: '기본 주소',
            readonly: true,
            required: true,
            rootClass: 'size-medium'
          }) %> 
    
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/components/form/input-text.ejs`, {
            id: 'receiver-address',
            name: 'receiverAddress',
            label: '주소',
            placeholder: '상세 주소를 입력해주세요',
            required: true,
            rootClass: 'size-medium'
          }) %>
        </div>
      </div>
    </div>
    <!-- 화물 배송지 입력 -->
    <div class="vits-address-fields panel-freight" id="shipping-panel-freight" data-address-panel="freight-shipping" role="region" aria-hidden="true">

      <!-- 화물 배송 정보 입력 -->
      <div class="vits-address-freight">

        <p class="vits-address-freight-notice">
          <span class="required">*</span>
          화물 배송은 영업소 정보가 필요합니다.
        </p>

        <div class="vits-address-freight-fields">
          <!-- 화물업체 -->
          <div class="vits-address-freight-row">
            <label class="vits-address-freight-label">
              화물업체
            </label>

            <!-- prettier-ignore -->
            <%- include(`${_src}/views/components/form/input-text.ejs`, {
              id: 'freight-company',
              name: 'freightCompany',
              placeholder: '화물 영업소 조회 시 자동입력',
              readonly: true,
              rootClass: 'size-medium'
            }) %>
          </div>

          <!-- 영업소명 + 조회 -->
          <div class="vits-address-freight-row">
            <label class="vits-address-freight-label">
              영업소명
            </label>

            <div class="vits-address-freight-search">
              <!-- prettier-ignore -->
              <%- include(`${_src}/views/components/form/input-text.ejs`, {
                id: 'freight-office',
                name: 'freightOffice',
                placeholder: '화물 영업소 조회 시 자동입력',
                readonly: true,
                rootClass: 'size-medium'
              }) %>

              <!-- prettier-ignore -->
              <%- include(`${_src}/views/components/button/button.ejs`, {
                size: 'md',
                variant: 'scoped-info',
                text: '영업소 조회',
                iconLeft: true,
                iconName: 'ic-magnifying-glass'
              }) %>
            </div>
          </div>
        </div>
      </div>

      <div class="vits-field">
        <label class="vits-field-label">
          배송지명 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'address-name',
          name: 'addressName',
          label: '배송지명',
          placeholder: '예: 집, 회사',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>
  
      <div class="vits-field">
        <label class="vits-field-label">
          받는 사람 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'receiver-name',
          name: 'receiverName',
          label: '받는 사람',
          placeholder: '이름을 입력해주세요',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>
  
      <div class="vits-field">
        <label class="vits-field-label">
          휴대전화 <span class="vits-required">*</span>
        </label>

        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/form/input-text.ejs`, {
          id: 'receiver-phone',
          name: 'receiverPhone',
          label: '휴대전화',
          placeholder: '010-0000-0000',
          required: true,
          rootClass: 'size-medium'
        }) %>
      </div>  
    </div>
  
    <!-- 기본 배송지 설정 -->
    <div class="vits-default-address">
      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-checkbox-single.ejs`, {
        datas: [
          {
            className: 's',
            name: 'defaultShipping',
            value: 'defaultShipping',
            srText: '대표 배송지로 설정',
            agreeText: '대표 배송지로 설정',
            checked: false
          },
        ],
      }) %>
    </div>
  </div>  
  
</section>
