<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
  const datakendo = [
    { ID: 1, ProductName: "Beds" },
    { ID: 2, ProductName: "Chairs" },
    { ID: 3, ProductName: "Sofas" },
    { ID: 4, ProductName: "Dining Tables" },
    { ID: 5, ProductName: "TV stoves" }
  ];
%>

<footer class="vm-footer" data-toggle-scope>
  <div class="vm-footer-cs">
    <div class="vm-footer-cs-title">
      <p>고객센터</p>
      <p>1566-8967</p>
    </div>
    <div class="vm-footer-time">
      <p>평일 09:00-18:00</p>
      <p>점심시간 12:00-13:00</p>
      <p>토·일·공휴일 휴무</p>
    </div>
  </div>

  <!-- prettier-ignore -->
  <% var footerShortcuts = [ 
    { href: 'https://pf.kakao.com/_zvHYT', text: '카카오톡 상담', iconName: 'kakao' }, 
    { href: '#!', text: '1:1 문의', iconName: 'textbox2' }, 
    { href: '#!', text: 'FAQ', iconName: 'document-question' }, 
    { href: '#!', text: '제휴 문의', iconName: 'partnership' }, 
  ]; %>
  <div class="vm-footer-shortcut">
    <% footerShortcuts.forEach(function(item) { %>
    <a href="<%= item.href %>" target="_blank" class="vm-footer-shortcut-btn">
      <span class="icon"> <%- include(`${_src}/views/components/icon.ejs`, { iconName: item.iconName }) %> </span>
      <span class="text"><%= item.text %></span>
    </a>
    <% }) %>
  </div>

  <!-- prettier-ignore -->
  <% var footerPolicies = [ 
    { href: '#!', text: '회사소개', isBold: false }, 
    { href: '#!', text: '이용약관', isBold: false }, 
    { href: '#!', text: '개인정보취급방침', isBold: true }, 
  ]; %>

  <div class="vm-footer-policy">
    <% footerPolicies.forEach(function(item) { %>
    <a href="<%= item.href %>" class="vm-footer-policy-link<%= item.isBold ? ' weight-bold' : '' %>">
      <%= item.text %>
    </a>
    <% }) %>
  </div>

  <div class="vm-footer-info">
    <div class="vm-footer-info-corp">
      <a href="" class="corp-link">(주)일신비즈온</a>
      <a href="" class="corp-link">online@vitson.co.kr</a>
    </div>
    <ul class="vm-footer-info-detail">
      <li>
        <p class="detail-text">대표 : 진미애</p>
        <p class="detail-text">
          사업자등록번호 : 132-81-52217
          <button
            type="button"
            class="company-btn-lookup"
            data-toggle-btn
            data-toggle-target="modal-company"
            aria-expanded="false"
            data-biz-brno="1328152217"
          >
            [사업자정보확인]
          </button>
        </p>
      </li>
      <li>
        <p class="detail-text">주소 : (12017) 경기도 남양주시 진접읍 팔야산단로12번길 55</p>
      </li>
      <li>
        <p class="detail-text">통신판매업신고 : 제 2017-진접오남-0205호</p>
      </li>
      <li class="detail-after-line">
        <p class="detail-text">TEL. 031-510-7237</p>
        <p class="detail-text">FAX. 031-951-1375</p>
      </li>
      <li>
        <p class="detail-text">개인정보책임관리자 : 이경덕</p>
      </li>
    </ul>
  </div>

  <p class="vm-footer-copyright">CopyrightⓒILSHIN All rights reserved</p>

  <section class="vm-footer-modal" data-toggle-box="modal-company" aria-hidden="true">
    <div class="vm-footer-modal-dim" data-toggle-dim="modal-company"></div>

    <div class="vm-footer-modal-panel" role="dialog" aria-modal="true" aria-labelledby="footerBizInfoTitle">
      <div class="vm-footer-modal-head">
        <h2 id="footerBizInfoTitle" class="vm-footer-modal-title">사업자 정보</h2>

        <button type="button" class="vm-footer-modal-close" data-toggle-btn data-toggle-target="modal-company">
          닫기
        </button>
      </div>

      <div class="vm-footer-modal-body">
        <p class="vm-footer-modal-status" data-biz-status></p>

        <div class="vm-footer-modal-table" data-biz-table hidden>
          <table class="vm-footer-modal-table-inner">
            <caption class="sr-only">
              통신판매사업자 등록 정보
            </caption>
            <colgroup>
              <col style="width: 40%" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">상호</th>
                <td data-biz-field="bzmnNm">-</td>
              </tr>
              <tr>
                <th scope="row">사업자등록번호</th>
                <td data-biz-field="brno">-</td>
              </tr>
              <tr>
                <th scope="row">운영상태</th>
                <td data-biz-field="operSttusCdNm">-</td>
              </tr>
              <tr>
                <th scope="row">시/도</th>
                <td data-biz-field="ctpvNm">-</td>
              </tr>
              <tr>
                <th scope="row">신고기관</th>
                <td data-biz-field="dclrInsttNm">-</td>
              </tr>
              <tr>
                <th scope="row">신고일자</th>
                <td data-biz-field="fromYmd">-</td>
              </tr>
              <tr>
                <th scope="row">인허가(등록)번호</th>
                <td data-biz-field="prmmiMnno">-</td>
              </tr>
            </tbody>
          </table>

          <p class="vm-footer-modal-note">표시 정보는 OpenAPI 조회 결과 기준입니다.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
