<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
// 배송지 목록 데이터
const addressList = [
  {
    name: '회사',
    isDefault: true,
    recipient: '메가존',
    phone: '010-1234-5678',
    address: '(02345)서울특별시 강남구 테헤란로 123 비츠빌딩 10층',
    cargoAddress: '경동화물 서울강남대치913',
  },
  {
    name: '배송지명',
    isDefault: false,
    recipient: '받는 사람',
    phone: '010-1234-5678',
    address: '(02345)서울특별시 강남구 테헤란로 123 비츠빌딩 10층',
    cargoAddress: '화물소주소',
  },
  {
    name: '영업소',
    isDefault: false,
    recipient: '김비츠',
    phone: '010-1234-5678',
    address: '(13840) 경기 과천시 과천대로7길 74 3층',
    cargoAddress: '경동화물 서울강남대치913',
  },
  {
    name: '영업소',
    isDefault: false,
    recipient: '김비츠',
    phone: '010-1234-5678',
    address: '(13840) 경기 과천시 과천대로7길 74 3층',
    cargoAddress: '',
  },
];
%>

<!DOCTYPE html>
<html lang="ko" class="vm-scope">
  <%- include(`${_src}/views/layout-mo/header/head.ejs`, {meta_title: '배송지관리'}) %>
  <body class="vm-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vm-wrapper -->
    <section class="vm-wrapper">
      <!-- S: vm-wrap -->
      <div class="vm-wrap wrap-my-orders">
        <!-- S: vm-content-wrap -->
        <div class="vm-content-wrap">
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/layout-mo/header/index.ejs`, { 
            type: 'nav-bar', title: '배송지 목록' 
          }) %>

          <!-- S: vm-main -->
          <main id="skipNav" class="vm-main">
            <div class="vm-main-content main-content-cart-order">
              <section class="vits-address-select">
                <h2 class="sr-only">배송지 목록</h2>
                11
              </section>
            </div>
          </main>
          <!-- E: vm-main -->

          <%- include(`${_src}/views/layout-mo/footer/index.ejs`) %>
        </div>
        <!-- E: vm-content-wrap -->

        <!-- S: vm-bottom-group -->
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/layout-mo/bottom-bar/index.ejs`, { 
          type: 'tab-bar', currentTab: 'home' 
        }) %>
        <!-- E: vm-bottom-group -->

        <!-- S: 팝업 영역 -->
        <!-- E: 팝업 영역 -->
      </div>
      <!-- E: vm-wrap -->
    </section>
    <!-- E: vm-wrapper -->

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
