<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>guide</title>
    <!-- public css 링크 테스트-->
    <link rel="stylesheet" href="<%= _public %>/lib/test.css" />
</head>
<body>
  <%- include(`${_src}/views/layout/header.ejs`) %>
  <h1 class="!text-[30px]">guide 222<%= APP_ENV_URL %></h1>

  <!-- public 이미지 링크 테스트  -->
  <img src="<%= _public %>/images/news_02.png" alt="test" style="width: 300px;" />
  <img src="<%= _public %>/images/repo.svg" alt="test" style="width: 300px;" />
  <img src="<%= _public %>/images/img_list01.jpg" alt="test" style="width: 300px;" />


  <!-- public js 링크 테스트-->
  <script src="<%= _public %>/lib/jquery-3.6.1.min.js"></script>
</body>
</html>
