<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="ko" class="vm-scope">
  <%- include(`${_src}/views/layout-mo/header/head.ejs`, {meta_title: '취소/반품 검색결과 없음'}) %>
  <body class="vm-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vm-wrapper -->
    <section class="vm-wrapper">
      <!-- S: vm-wrap -->
      <div class="vm-wrap wrap-my-orders">
        <!-- S: vm-content-wrap -->
        <div class="vm-content-wrap">
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/layout-mo/header/index.ejs`, { 
            type: 'nav-bar', title: '취소/반품내역' 
          }) %>

          <!-- S: vm-main -->
          <main id="skipNav" class="vm-main">
            <div class="vm-main-content main-content-my-orders">
              <!-- 필터 -->
              <!-- prettier-ignore -->
              <%- include(`${_src}/views/components-mo/filter/index.ejs`, { 
                type: 'mypage',
                isDirectInput: true,
                isFilterFocused: true,
                hasFilterValue: true
              }) %>

              <!-- prettier-ignore -->
              <%- include(`${_src}/views/components/empty-state.ejs`, {
                iconName: 'document-paper',
                title: '조회된 주문이 없습니다.',
                desc: "조회 조건을 다시 확인해 주세요."
              }) %>
            </div>
          </main>
          <!-- E: vm-main -->

          <%- include(`${_src}/views/layout-mo/footer/index.ejs`) %>
        </div>
        <!-- E: vm-content-wrap -->

        <!-- S: vm-bottom-group -->
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/layout-mo/bottom-bar/index.ejs`, { 
          type: 'tab-bar', currentTab: 'mypage' 
        }) %>
        <!-- E: vm-bottom-group -->

        <!-- S: 팝업 영역 -->
        <!-- E: 팝업 영역 -->
      </div>
      <!-- E: vm-wrap -->
    </section>
    <!-- E: vm-wrapper -->

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
