<% const _src = srcPath; const _public = publicPath; %>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi, viewport-fit=cover, interactive-widget=resizes-content"
  />

  <!-- [iOS] 전화/주소/메일 자동 링크 감지로 밑줄이 생기는 현상 완화(format-detection) -->
  <meta name="format-detection" content="telephone=no,address=no,email=no" />

  <title><%= meta_title %></title>
  <!-- favicon -->
  <link rel="shortcut icon" href="<%= _public %>/resources/img/mro/favicon/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="<%= _public %>/resources/img/mro/favicon/favicon.ico" type="image/x-icon" />

  <!-- new 켄도 -->
  <link href="<%= _public %>/resources/kendo_new/styles/default-main.css" rel="stylesheet" type="text/css" />
  <link href="<%= _public %>/resources/kendo_new/styles/font-icons/index.css" rel="stylesheet" type="text/css" />
  <link href="<%= _public %>/resources/css/common/default-custom.css" rel="stylesheet" type="text/css" />

  <!-- public css 링크-->
  <link rel="stylesheet" href="<%= _public %>/resources/css/mro/mobile/reset.css" />
  <!-- <link rel="stylesheet" href="<%= _public %>/resources/css/mro/mobile/sub_layout.css" /> -->
  <link rel="stylesheet" href="<%= _public %>/resources/css/swiper_2.css" />
  <link rel="stylesheet" href="<%= _public %>/resources/css/XEIcon/xeicon.min.css" />
  <link rel="stylesheet" href="<%= _public %>/resources/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="<%= _public %>/resources/css/common/catalog.css" />
</head>
