<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
const hasDesc = typeof desc !== 'undefined' && desc;
const hasTitleTooltip = typeof titleTooltip !== 'undefined' && titleTooltip;
const headerRootClass = typeof rootClass !== 'undefined' ? rootClass : '';
%>

<!-- prettier-ignore -->
<header class="vm-header header-nav-bar<%= headerRootClass ? ' ' + headerRootClass : '' %>" 
  data-vits-header>
  <!-- prettier-ignore -->
  <%- include('./header-button.ejs', { 
    button: 'back' })
  %> 
  
 <% if (hasTitleTooltip) { %>
  <div class="vm-header-title" data-header-title>
    <%= title %>
    <%- include(`${_src}/views/components/tooltip.ejs`, {
      triggerText: titleTooltip.triggerText || '',
      heading: titleTooltip.heading || '',
      items: titleTooltip.items || [],
      anchor: true
    }) %>
  </div>
<% } else if (hasDesc) { %>
  <div class="vm-header-inner">
    <p class="vm-header-title" data-header-title><%= title %></p>
    <p class="vm-header-desc"><%= desc %></p>
  </div>
<% } else { %>
  <p class="vm-header-title" data-header-title><%= title %></p>
<% } %>

  <div class="vm-header-actions">
    <!-- prettier-ignore -->
    <%- include('./header-button.ejs', { 
      button: 'search' })
    %> 
    <!-- prettier-ignore -->
    <%- include('./header-button.ejs', { 
      button: 'cart',
      count: 3
    })
    %> 
  </div>
</header>
