<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
const headerActions = [
  { iconName: 'magnifying-glass', href: '#!', label: '검색' },
  { iconName: 'bag', href: '#!', label: '장바구니' },
  { iconName: 'menu', data: { popupTarget: '#gnb-menu' }, label: '메뉴' },
];
%>

<header class="vm-header header-nav-bar">
  <a href="" class="vm-header-back" aria-label="이전 페이지">
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components/icon.ejs`, {
      iconName: 'arrow-left' 
    }) %>
  </a>

  <p class="vm-header-title" data-header-title><%= title %></p>
  <div class="vm-header-actions">
    <% headerActions.forEach((item) => { %>
      <% if (item.href) { %>
        <!-- prettier-ignore -->
        <a href="<%= item.href %>" 
          class="vm-header-btn" aria-label="<%= item.label %>">
          <%- include(`${_src}/views/components/icon.ejs`, { iconName: item.iconName }) %>
        </a>
      <% } else { %>
        <!-- prettier-ignore -->
        <button type="button" 
          class="vm-header-btn" aria-label="<%= item.label %>"
          <%= item.data 
            ? Object.entries(item.data).map(([k, v]) => 
              ` data-${k.replace(/([A-Z])/g, '-$1').toLowerCase()}="${v}"`).join('') 
            : '' %>>
            <%- include(`${_src}/views/components/icon.ejs`, { iconName: item.iconName }) %>
        </button>
      <% } %>
    <% }); %>
  </div>
</header>
