<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '조장 상품 추가'}) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('addProductOrderModal')"
                >
                  <span class="text">조장 상품 추가</span>
                </button>
              </div>

              <!-- prettier-ignore -->
              <% const winModal = { 
                id: 'addProductOrderModal', 
                size: '560', title: '상품 추가', 
                opt: { draggable: true }, 
                contentPath: `${_src}/views/pages/kendo-window/cart-order/kw-PC_OR_01010401_P.ejs` , 
                buttons: [{ text: '취소', variant: 'secondary', action: 'close' }, 
                { text: '장바구니 담기', variant: 'primary', action: 'close' }] }; 
                %>
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal) %>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
