<% const _src = srcPath; const _public = publicPath; %>
<!DOCTYPE html>
<html lang="ko" class="vits-scope">
  <%- include(`${_src}/views/layout/head.ejs`, {meta_title: '취소 신청 팝업'}) %>
  <body class="vits-scope">
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>

    <section class="vits-wrapper">
      <%- include(`${_src}/views/layout/header.ejs`) %>

      <main id="skipNav" class="vits-main">
        <div class="vits-wrap">
          <div class="vits-grid">
            <div class="vits-grid-main vits-main-plp">
              <div class="vits-inner" style="padding: 100px 0">
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('modal01')"
                >
                  <span class="text">취소 신청 팝업 (단일)</span>
                </button>
                <button
                  type="button"
                  class="vits-btn-md vits-btn-outline-secondary"
                  onclick="VitsKendoWindow.open('modal02')"
                  style="margin-top: 10px"
                >
                  <span class="text">취소 신청 팝업 (다수)</span>
                </button>
              </div>

              <!-- prettier-ignore -->
              <% const winModal01 = { 
                id: 'modal01', 
                size: '560', 
                title: '취소 신청', 
                opt: { draggable: true }, 
                contentPath: `${_src}/views/pages/kendo-window/my-orders/kw-PC_MY_02010901_P.ejs`,
                buttons: [
                  { text: '취소', variant: 'secondary', action: 'close' }, 
                  { text: '취소 신청', variant: 'primary', action: 'close' }
                ]}; %>
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal01) %>

              <!-- prettier-ignore -->
              <% const winModal02 = { 
                id: 'modal02', 
                size: '560', 
                title: '취소 신청', 
                opt: { draggable: true }, 
                contentPath: `${_src}/views/pages/kendo-window/my-orders/kw-PC_MY_02010901_P-ckbox.ejs`,
                buttons: [
                  { text: '취소', variant: 'secondary', action: 'close' }, 
                  { text: '취소 신청', variant: 'primary', action: 'close' }
                ]}; %>
              <%- include(`${_src}/views/components/kendo/kendo-window.ejs`, winModal02) %>
            </div>
          </div>
        </div>
      </main>

      <%- include(`${_src}/views/layout/footer.ejs`) %>
    </section>

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
