<% const _src = srcPath; const _public = publicPath; %>

<!-- prettier-ignore -->
<% const _hasFrequentData = (typeof hasFrequentData !== 'undefined') ? hasFrequentData : false; %>

<div class="vits-mypage-home-frequent<%= !_hasFrequentData ? ' is-empty' : '' %>">
  <div class="frequent-head" data-scss="head">
    <p class="vits-mypage-home-title">자주 구매하신 상품이에요</p>
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components/button/text-arrow-link.ejs`, { 
      href: '#!', text: '자주 구매 더보기' 
    }) %>
  </div>
  <div class="frequent-body" data-scss="body">
    <% if (_hasFrequentData) { %>
    <ul class="frequent-items vits-product-list view-thumb" data-context="frequent">
      <li class="frequent-item">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/product/product-card-frequent.ejs`, {
        inStock: true,
        frequentCount: 2,
        frequentDate: '2025-12-23',
        code: '63531',
        brand: '농심',
        model: 'CR-13',
        name: '튀김우동 컵라면 6개입',
        spec: '2.6mm(광~5kg)',
        originPrice: 999999999,
        salePrice: 999999999,
        discountRate: 99,
        imageUrl: `${_public}/resources/img/mro/renewal/temp/temp-product-thumb-01.png`,
        productUrl: '#!',
        flags: { today: true, tomorrow: true, hot: true },
        promoBadge: { text: '무료배송', variant: 'free-ship' }
      }) %>
      </li>
      <li class="frequent-item">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/product/product-card-frequent.ejs`, {
          inStock: true,
          frequentCount: 2,
          frequentDate: '2025-12-23',
          code: '63532',
          brand: '농심',
          model: 'CR-13',
          name: '튀김우동 컵라면 6개입 상품명이 길어질 땐 말줄임으로 표시가 됩니다 상품명이 길어요 길어요',
          spec: '2.6mm(광~5kg)',
          originPrice: 999999999,
          salePrice: 999999999,
          discountRate: 99,
          imageUrl: `${_public}/resources/img/mro/renewal/temp/temp-product-thumb-01.png`,
          productUrl: '#!',
          flags: { today: true, tomorrow: true, hot: true },
          promoBadge: { text: '무료배송', variant: 'free-ship' }
        }) %>
      </li>
      <li class="frequent-item">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/product/product-card-frequent.ejs`, {
          inStock: true,
          frequentCount: 2,
          frequentDate: '2025-12-23',
          code: '63533',
          brand: '농심',
          model: 'CR-13',
          name: '할인율이 0.4 이하일 때 - 할인율 비노출',
          spec: '2.6mm(광~5kg)',
          originPrice: 999999999,
          salePrice: 999999999,
          discountRate: 0.4,
          imageUrl: `${_public}/resources/img/mro/renewal/temp/temp-product-thumb-01.png`,
          productUrl: '#!',
          flags: { today: true, tomorrow: true, hot: true },
          promoBadge: { text: '무료배송', variant: 'free-ship' }
        }) %>
      </li>
      <li class="frequent-item">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/product/product-card-frequent.ejs`, {
          inStock: true,
          frequentCount: 2,
          frequentDate: '2025-12-23',
          code: '63534',
          brand: '농심',
          model: 'CR-13',
          name: '할인율이 0과 같거나 작을 때, 정상가/할인율 비노출',
          spec: '2.6mm(광~5kg)',
          originPrice: 999999999,
          salePrice: 999999999,
          discountRate: 0,
          imageUrl: `${_public}/resources/img/mro/renewal/temp/temp-product-thumb-01.png`,
          productUrl: '#!',
          flags: { today: true, tomorrow: true, hot: true },
          promoBadge: { text: '무료배송', variant: 'free-ship' }
        }) %>
      </li>
    </ul>
    <% } else { %>
    <!-- prettier-ignore -->
    <% const buttonHtml = include(`${_src}/views/components/button/button.ejs`, { 
        size:'xl', variant: 'primary', text: '초특가 상품 보기', iconLeft: true, iconName: 'ic-lightning', className: 'btn-fix-w200'
      }) %>
      <%- include(`${_src}/views/components/empty-state.ejs`, {
        iconName: 'document-paper',
        title: '아직 자주 구매 상품이 없습니다',
        desc: '비츠온만의 초특가를 경험해 보세요.',
        buttonHtml
      }) %>
    <% } %>
  </div>
</div>
