<div class="vits-checkbox-wrapper <%= extraClass || '' %>">
  <% datas.forEach((data) => { %>
    <label class="vits-checkbox-item <%= data.type || '' %>">
      <input type="checkbox" name="<%= name %>" value="<%= data.value %>" <%= data.disabled ? 'disabled' : '' %> />
      <% if (data.icon) { %>
        <i class="ico <%= data.icon %>"></i>
      <% } else { %>
        <i class="ico default"></i>
      <% } %>
      <span class="text"><%= data.label %></span>
    </label>
  <% }); %>
</div>

<!-- 사용 예시 -->
<%- include('checkbox', { 
      name: 'deliveryOptions', 
      datas: [
        { label: '오늘배송', value: 'today', icon: 'icon-check', type: 'case01' },
        { label: '로켓배송', value: 'rocket', icon: 'icon-rocket', type: 'case01' }
      ],
      extraClass: 'case01'
}) %>

<!--
설명:
- name : 체크박스 그룹 이름
- datas : 반복 항목 배열
  - label : 화면에 표시될 텍스트
  - value : 체크박스 value
  - icon : 표시할 아이콘 클래스 (없으면 default)
  - type : 개별 체크박스 스타일/케이스
- extraClass : wrapper 클래스, 페이지/케이스별 스타일 지정 가능
-->
