<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="ko" class="vm-scope">
  <%- include(`${_src}/views/layout-mo/header/head.ejs`, {meta_title: '비밀번호 찾기-아이디 입력'}) %>
  <body class="vm-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vm-wrapper -->
    <section class="vm-wrapper">
      <!-- S: vm-wrap -->
      <div class="vm-wrap wrap-auth-login">
        <!-- S: vm-content-wrap -->
        <div class="vm-content-wrap">
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/layout-mo/header/index.ejs`, { 
            type: 'nav-bar', title: '비밀번호 찾기' 
          }) %>

          <!-- S: vm-main -->
          <main id="skipNav" class="vm-main">
            <div class="vm-main-content main-content-auth-login">
              <section class="vm-login-content vm-signup">
                <!-- 로고 / 타이틀 -->
                <h2 class="vm-login-logo">
                  <img src="<%= _public %>/resources/img/mro/renewal/logo/logo-header.svg" alt="비츠온엠알오 로고" />
                </h2>
                <!-- S: 비밀번호 찾기 (아이디 입력) -->
                <div class="info-find-wrap">
                  <div class="vm-signup-headline">
                    <p class="vm-signup-desc">
                      아이디 인증 후 <br />
                      비밀번호 찾기를 진행할 수 있습니다.
                    </p>
                  </div>

                  <form class="info-find-form" action="#" method="post">
                    <div class="vm-login-form-fields">
                      <!-- prettier-ignore -->
                      <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'info-find-id', name: 'userId', label: '아이디', placeholder: '아이디', required: true, rootClass: 'size-large', }) %>
                    </div>

                    <div class="info-find-form-actions">
                      <!-- prettier-ignore -->
                      <%- include(`${_src}/views/components/button/button.ejs`, { type: 'submit', size: 'xl', variant: 'primary', text: '확인', className: 'info-find-btn', }) %>
                    </div>

                    <!-- S: 하단 링크 -->
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/pg-auth/login-links.ejs`, {
                      links: [
                        { href: '#!', label: '아이디 찾기' },
                        { href: '#!', label: '회원가입' },
                      ],
                    }) %>
                    <!-- E: 하단 링크 -->
                  </form>
                </div>
                <!-- E: 비밀번호 찾기 (아이디 입력) -->
              </section>
            </div>
          </main>
          <!-- E: vm-main -->

          <%- include(`${_src}/views/layout-mo/footer/index.ejs`) %>
        </div>
        <!-- E: vm-content-wrap -->

        <!-- S: vm-bottom-group -->
        <!-- E: vm-bottom-group -->

        <!-- S: 팝업 영역 -->
        <!-- E: 팝업 영역 -->
      </div>
      <!-- E: vm-wrap -->
    </section>
    <!-- E: vm-wrapper -->

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
