<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="ko" class="vm-scope">
  <%- include(`${_src}/views/layout-mo/header/head.ejs`, {meta_title: '일회성 로그인-이메일/휴대전화 인증 '}) %>
  <body class="vm-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vm-wrapper -->
    <section class="vm-wrapper">
      <!-- S: vm-wrap -->
      <div class="vm-wrap wrap-auth-login">
        <!-- S: vm-content-wrap -->
        <div class="vm-content-wrap">
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/layout-mo/header/index.ejs`, { 
            type: 'nav-bar', title: '일회성 로그인' 
          }) %>

          <!-- S: vm-main -->
          <main id="skipNav" class="vm-main">
            <div class="vm-main-content main-content-auth-login">
              <section class="vm-login-content">
                <!-- 로고 / 타이틀 -->
                <h2 class="vm-login-logo">
                  <img src="<%= _public %>/resources/img/mro/renewal/logo/logo-header.svg" alt="비츠온엠알오 로고" />
                </h2>

                <form class="vm-login-form" action="" method="post">
                  <!-- 인증 탭 버튼 -->
                  <!-- prettier-ignore -->
                  <%- include(`${_src}/views/components/tabs.ejs`, {
                    size: 'sm',
                    className: 'vits-auth-tabs',
                    tabClassName: 'vits-btn-md vits-auth-tab-btn',
                    tabs: [
                      { text: '이메일', isActive: true },
                      { text: '휴대전화번호', isActive: false }
                    ],
                    showBadge: false,
                    ariaLabel: '인증 방법 탭',
                    idPrefix: 'auth-tab'
                  }) %>

                  <div class="vm-login-form-fields">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-id', name: 'loginId', label: '아이디', placeholder: '아이디', required: true, rootClass: 'size-large'}) %>
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-email', name: 'loginEmail', label: '이메일 주소', placeholder: '이메일 주소', required: true, rootClass: 'size-large'}) %>
                  </div>

                  <div class="vm-login-form-fields">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-id', name: 'loginId', label: '아이디', placeholder: '아이디', required: true, rootClass: 'size-large'}) %>
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-phone', name: 'loginPhone', label: '휴대전화번호', placeholder: '휴대전화번호', required: true, rootClass: 'size-large'}) %>
                  </div>

                  <!-- prettier-ignore -->
                  <%- include(`${_src}/views/components/button/button.ejs`, { text: '인증코드 받기', size: 'xl', variant: 'primary', type: 'submit', className: 'login-submit'}) %>

                  <!-- 일회성 로그인 -->
                  <div class="login-once-others">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/button/text-link.ejs`, { href: '#!', label: '일반 로그인 돌아가기', target: '_blank' }) %>
                  </div>
                </form>
              </section>
            </div>
          </main>
          <!-- E: vm-main -->

          <%- include(`${_src}/views/layout-mo/footer/index.ejs`) %>
        </div>
        <!-- E: vm-content-wrap -->

        <!-- S: vm-bottom-group -->
        <!-- E: vm-bottom-group -->

        <!-- S: 팝업 영역 -->
        <!-- E: 팝업 영역 -->
      </div>
      <!-- E: vm-wrap -->
    </section>
    <!-- E: vm-wrapper -->

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
