<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="ko" class="vm-scope">
  <%- include(`${_src}/views/layout-mo/header/head.ejs`, {meta_title: '아이디 찾기완료'}) %>
  <body class="vm-scope">
    <!-- S: Skip Navigation -->
    <a href="#skipNav" class="skip-nav">본문 바로가기</a>
    <!-- E: Skip Navigation -->

    <!-- S: vm-wrapper -->
    <section class="vm-wrapper">
      <!-- S: vm-wrap -->
      <div class="vm-wrap wrap-auth-login">
        <!-- S: vm-content-wrap -->
        <div class="vm-content-wrap">
          <!-- prettier-ignore -->
          <%- include(`${_src}/views/layout-mo/header/index.ejs`, { type: 'nav-bar-logo' }) %>

          <!-- S: vm-main -->
          <main id="skipNav" class="vm-main">
            <div class="vm-main-content main-content-auth-login">
              <section class="vm-login-content vm-signup">
                <!-- 컨텐츠 헤딩 -->
                <div class="vm-signup-headline">
                  <h2 class="vm-signup-title">아이디 찾기</h2>
                </div>

                <div class="id-find-form">
                  <!-- S: 아이디 표시 카드 -->
                  <div class="id-info-card">
                    <p class="id-info-text">회원님의 아이디는 <span class="found-id-text">mzte****</span> 입니다.</p>
                  </div>
                  <!-- E: 아이디 표시 카드 -->

                  <!-- S: 메인 링크 -->
                  <div class="id-info-main-link">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/button/text-link.ejs`, { href: '#!', label: '메인 화면 가기', target: '_blank' }) %>
                  </div>
                  <!-- E: 메인 링크 -->

                  <!-- S: 액션 버튼 -->
                  <div class="id-info-actions">
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/button/button.ejs`, { type: 'button', size: 'xl', variant: 'outline-tertiary', text: '비밀번호 찾기', className: 'id-find-btn-pw' }) %>
                    <!-- prettier-ignore -->
                    <%- include(`${_src}/views/components/button/button.ejs`, { type: 'button', size: 'xl', variant: 'primary', text: '로그인', className: 'id-find-btn-login' }) %>
                  </div>
                  <!-- E: 액션 버튼 -->

                  <!-- S: 고객 지원 -->
                  <%- include(`${_src}/views/components/pg-auth/auth-contact.ejs`) %>
                  <!-- E: 고객 지원 -->
                </div>
              </section>
            </div>
          </main>
          <!-- E: vm-main -->

          <%- include(`${_src}/views/layout-mo/footer/index.ejs`) %>
        </div>
        <!-- E: vm-content-wrap -->

        <!-- S: vm-bottom-group -->
        <!-- E: vm-bottom-group -->

        <!-- S: 팝업 영역 -->
        <!-- E: 팝업 영역 -->
      </div>
      <!-- E: vm-wrap -->
    </section>
    <!-- E: vm-wrapper -->

    <%- include(`${_src}/views/layout/footer.links.ejs`) %>
  </body>
</html>
