<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
  // 기본값 설정
  const tooltipData = {
    triggerText: (typeof triggerText !== 'undefined' && triggerText !== null) ? triggerText : '툴팁제목',
    heading: (typeof heading !== 'undefined' && heading !== null) ? heading : '툴팁 타이틀',
    items: (typeof items !== 'undefined' && items !== null) ? items : ['툴팁 내용 입력'],
    position: (typeof position !== 'undefined' && position !== null) ? position : 'left',
    anchor: (typeof anchor !== 'undefined' && anchor !== null) ? anchor : false,
    footerContent: (typeof footerContent !== 'undefined' && footerContent !== null) ? footerContent : null
  };
%>

<div class="vits-tooltip" 
  data-tooltip="<%= tooltipData.position %>" 
  <% if (tooltipData.anchor) { %> data-anchor="true"<% } %>>
  <button type="button" class="vits-tooltip-trigger" aria-label="광고 안내">
    <% if (tooltipData.triggerText) { %>
      <span class="text"><%= tooltipData.triggerText %></span>
    <% } %>
    <span class="icon"> <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'tip-info' }) %> </span>
  </button>
  <div class="vits-tooltip-content" role="tooltip" aria-hidden="true">
    <div class="vits-tooltip-heading">
      <p class="text"><%= tooltipData.heading %></p>
      <button type="button" class="button" aria-label="닫기">
        <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'x' }) %>
      </button>
    </div>
    <ul class="vits-tooltip-list">
      <% tooltipData.items.forEach(function(item) { %>
      <li class="vits-tooltip-item"><%- item.replace(/\n/g, '<br>') %></li>
      <% }); %>
    </ul>

    <% if (tooltipData.footerContent) { %>
    <div class="vits-tooltip-footer"><%- tooltipData.footerContent %></div>
    <% } %>
  </div>
</div>
